            .navbar {
                background-color: orange;
                padding: 5px;
                text-align: center;
                width: 700px;
                margin-left: auto;
                margin-right: auto;
                border-bottom: 10px;
                border-radius: 0px 0px 10px 10px;
                -webkit-border-radius: 0px 0px 10px 10px;
                -moz-border-radius: 0px 0px 10px 10px;
                -ms-border-radius: 0px 0px 10px 10px;
                -o-border-radius: 0px 0px 10px 10px;
                box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.20);
            }
            
            .navbar-a {
                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 25px;
                line-height: 29px;
                color: #FFFFFF;
            }
            
            @media only screen and (max-width:360px) {
                .navbar {
                    background-color: orange;
                    text-align: center;
                    border-radius: 6px 6px 0px 0px;
                    -webkit-border-radius: 6px 6px 0px 0px;
                    -moz-border-radius: 6px 6px 0px 0px;
                    -ms-border-radius: 6px 6px 0px 0px;
                    -o-border-radius: 6px 6px 0px 0px;
                    position: fixed;
                    bottom: 0px;
                    margin: auto;
                }
                .navbar-a {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 25px;
                    line-height: 29px;
                    color: #FFFFFF;
                    display: list-item;
                }
            }